@{ ViewData["Title"] = "Minhas tarefas"; }
<section class="integrarp-page"><h1>Minhas tarefas</h1><div id="tasks-status" class="alert alert-info">Carregando tarefas reais...</div><div id="tasks-list" class="row g-3"></div></section>
@section Scripts { <script src="~/js/operational-cruds.js"></script><script>IntegraCrud.tasks();</script> }
