@{ ViewData["Title"] = "Conversas"; }
<section class="integrarp-page"><h2>Conversas Connect</h2><div id="conversations-list" class="row g-3"></div></section>
@section Scripts { <script src="~/js/connect-conversations.js"></script> }
