@model Guid
<section class="integrarp-page"><h2>Outbox @Model</h2><div id="outbox-detail" class="card p-3"></div><button class="btn btn-warning mt-3" data-action="retry-outbox">Reprocessar</button></section>
@section Scripts { <script src="~/js/connect-outbox.js"></script> }
