@{ ViewData["Title"] = "Templates"; }
<section class="integrarp-page"><h2>Templates de mensagem</h2><a class="btn btn-primary mb-3" href="/connect/templates/create">Novo template</a><div id="templates-list" class="row g-3"></div></section>
@section Scripts { <script src="~/js/connect-templates.js"></script> }
