POSTGRES_DB=integrarp
POSTGRES_USER=integrarp
POSTGRES_PASSWORD=change-me-local
PGADMIN_DEFAULT_EMAIL=admin@integrarp.local
PGADMIN_DEFAULT_PASSWORD=change-me-local
INTEGRARP_CONNECTION_STRING=Host=localhost;Port=5432;Database=integrarp;Username=integrarp;Password=change-me-local
