<!doctype html>
<html lang="pt-br" data-theme="system">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>@ViewData["Title"] - IntegraRP</title>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/design-tokens.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/app-shell.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/accessibility.css" asp-append-version="true" />
  @await RenderSectionAsync("Styles", false)
</head>
<body>
  <a class="skip-link" href="#conteudo-principal">Pular para o conteúdo</a>
  <div class="app-shell" data-shell>
    @await Html.PartialAsync("_MobileNavigation")
    @await Html.PartialAsync("_Sidebar")
    <div class="app-main">
      @await Html.PartialAsync("_Topbar")
      <main id="conteudo-principal" class="app-content" tabindex="-1">
        @await Html.PartialAsync("_PageHeader")
        @RenderBody()
      </main>
      @await Html.PartialAsync("_Footer")
    </div>
  </div>
  @await Html.PartialAsync("_NotificationPanel")
  @await Html.PartialAsync("_CommandPalette")
  @await Html.PartialAsync("_ToastHost")
  @await Html.PartialAsync("_Scripts")
  @await RenderSectionAsync("Scripts", false)
</body>
</html>
