@model dynamic
<aside class="ui-next-action">
    <span>Próxima ação</span>
    <strong>@Model?.Title</strong>
    <p>@Model?.Description</p>
    <a href="@Model?.ActionUrl">@Model?.ActionText</a>
</aside>
